<div class="thing">
    <div class="block">
        
            <img src={{image_url}} id="beerImg1" alt="image of {{name}} bottle"/>
        
        <h3>{{name}}</h3>
        <p id="parciaal">{{tagline}}</p>
        <p id="parciaal">{{description}}</p>
</div>
</div>